.news-layout {
  display: flex;
  gap: 40px;
}

.card-grid-wrapper {
  display: flex;
  justify-content: left;
  padding: 1rem;
  margin-top: 40px;
  margin-left: 70px;
  width: 70%;
  /* margin-right: 340px; */
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
}

.news-sidebar {
  margin-top: 50px;
  width: 220px;
  color: white;
}

.news-sidebar h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

.news-sidebar button {
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 15px;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #444;
}

.news-sidebar button:hover {
  background-color: #444;
  background: linear-gradient(to left, rgba(87, 75, 125, 0.388), transparent);
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 15px;
}

.icon-grid img {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background-color: #2a2a2a;
  padding: 5px;
}
